body {
  background: black;
  h2 {
    transform: translateX(10px) rotateZ(-10deg);
    color: red;
    opacity: 0.5;
  }
  .my {
    clear: both;
  }
}
h3 {
  transform: translateX(50px) rotateZ(-50deg);
  color: green;
  opacity: 0.5;
  font-size: 28px;
}
.mybyby {
  clear: both;
}
.bb {
  font-size: 30px;
  color: aqua;
}
.bb2 {
  color: orange;
}
.testbox {
  text-align: center;
  .testtest {
    border-bottom: 2px solid;
    color: chartreuse;
  }
}
